// highlights
.highlights {
  background: #F7F8F9;
  position: relative;
  padding-bottom: 82px;

  @include media(993) {
    padding-bottom: 0;
  }

  &_icon {
    position: absolute;
    right: 0;
    bottom: 0;

    @include media(993) {
      display: none;
    }
  }

  &_title {
    padding: 103px 0 58px 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 20px;

    @include media(993) {
      padding: 60px 0 20px 0;
    }

    &_right {
      display: flex;
      align-items: center;
      gap: 18px;

      @include media(993) {
        display: none;
      }
    }
  }

  .number {
    font-family: $font-manrope;
    font-weight: 500;
    font-size: 33.98px;
    line-height: 139%;
    color: #1B1B1B;

    span {
      font-family: $font-manrope;
      font-weight: 500;
      font-size: 66.17px;
      line-height: 139%;
    }
  }

  &_btns {
    display: flex;
    align-items: center;

    button {
      width: 81px;
      height: 81px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border: 1px solid #B7B7B7;
    }
  }

  h3 {
    font-family: $font-soyuz-grotesk;
    font-weight: 700;
    font-size: 70px;
    line-height: 94%;
    color: #1B1B1B;
    max-width: 531px;

    @include media(768) {
      font-size: 38px;
      line-height: 94%;
      max-width: 100%;
    }
  }

  .highlightsSwiper {
    overflow: hidden;

    @include media(1024) {
      overflow: visible;
    }

    a {
      border-radius: 49px;
      overflow: hidden;

      @include media(993) {
        border-radius: 27px;
      }
    }
  }

  .swiper-notification {
    display: none;
  }
}
// highlights
